body {
  background-color: #cc0000;
  font-size:2em;
  font-family: kremlin;
  text-align: center;
}
h1, p, li {
  color: gold;
}
ul {
  list-style-position: inside;
  list-style-type: upper-roman;
}
img {
  width:100%;
  max-width: 500px;
}
button {
  font-size:1em;
  font-family: kremlin;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #bbb;
  background-color: #ddd;
}
button:active {
  background-color: #bbb;
}
@font-face {
  font-family: kremlin;
  src: url('kremlin.ttf');
}
