body {
    background-color: red;
    font-size:1em;
}
h1 {
    color: yellow;
}
p {
    color: yellow;
}
li {
    color: yellow;
}
img {
    width:100%;
}
button {
    font-size:2em;
}
@font-face {
    src: kremlin.ttf;
}
