body {
    background-color: #cc0000;
    font-size:2em;
    font-family: kremlin;
    text-align: center;
}
h1 {
    color: yellow;
}
p {
    color: yellow;
}
ul {
  list-style-position: inside;
  list-style-type: upper-roman;
}
li {
    color: yellow;
}
img {
    width:100%;
    max-width: 500px;
}
button {
    font-size:2em;
}
@font-face {
    font-family: kremlin;
    src: url('kremlin.ttf');
}
