a {
  color:#943a4d;
}
.Veland {
  display: block;
}
h1 {
  color:#466bbb
}
body {
  font-family: harrington, ubuntu, Verdana, sans-serif;
  background: #466bbb;
}
body>* {
  background: white;
  padding: 24px;
  border-radius: 20px;
}
