<!DOCTYPE html>
<html ng-app="app" ng-controller="mainCtrl as m">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
		<title>Enigma Machine</title>
		<link rel="stylesheet" href="../assets/standard-tool-css.css">
		<link rel="icon" href="https://static-s.aa-cdn.net/img/gp/20600005222152/5VqSpUgxQQkRTyPfatTm3KaVzOXzzFjnjEizGrrbot0fdM-arn7fM-_yKy3p98JxnQ=w300?v=1" type="image/png">
	</head>
	<body>
		<h1>𝕯𝖎𝖌𝖎𝖙𝖆𝖑 𝕰𝖓𝖎𝖌𝖒𝖆 𝕸𝖆𝖈𝖍𝖎𝖓𝖊</h1>

	<ul class="menu">
		<li ng-click="m.setMode(0)" ng-class="{active: m.encode}">𝕰𝖓𝖈𝖗𝖞𝖕𝖙 𝕸𝖊𝖘𝖘𝖆𝖌𝖊</li>
		<li ng-click="m.setMode(1)" ng-class="{active: !m.encode}">𝕯𝖊𝖈𝖗𝖞𝖕𝖙 𝕸𝖊𝖘𝖘𝖆𝖌𝖊</li>
	</ul>

	<h3>𝕶𝖊𝖞:</h3>
	<input name="keyphrase" placeholder="• • • • • • • •" ng-model="m.keyphrase" ng-keyup="m.newKey()" type="text">

  <h3>𝕴𝖓𝖕𝖚𝖙:</h3>
	<textarea name="input" placeholder="{{m.inputPlaceholder()}}" ng-model="m.input" ng-keyup="m.process()"></textarea>

  <h3>𝕺𝖚𝖙𝖕𝖚𝖙:</h3>
	<pre placeholder="{{m.outputPlaceholder()}}" ng-bind="m.output" id="output"></pre>
  <div class="block">
    <button ng-click="m.selectText()">𝕮𝖔𝖕𝖞 𝕺𝖚𝖙𝖕𝖚𝖙</button>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('app', []);
    app.config(function($sceProvider) {
      $sceProvider.enabled(false);
    });
    app.controller('mainCtrl', ['$http', '$timeout', function ($http, $timeout) {
      var vm = this;
      vm.input = "";
      vm.output = "";
			vm.key = 0;
			vm.keyphrase = "";
			vm.encode = true;
			vm.morseStr = "HAOC H LDGSSKD KFKB FVK JDHF GK VLVHKTY";
			vm.enStr = "Type a message that you wish to encrypt";
			vm.setMode = (mode)=>{
				vm.encode = !mode;
				vm.input = vm.output;
				vm.process();
			};
			vm.newKey = ()=>{
				let d = new Date().getDate()*(new Date().getMonth()+2);
				let date_code = Math.ceil((d%9+((d*(d%9+2)*(d*(d+d%2))))%23)*(d%13+d*(d%19) + 2)/2);
				let keycode = 0;
				for (i=0;i<vm.keyphrase.length;i++) {
					let char_code = vm.keyphrase.charCodeAt(i);
					keycode += (char_code % 9 + (char_code % 19) % 13 + 12)*(Math.ceil(Math.pow(char_code, 1.7)) + char_code  % 5 + 3)%(423-(i*(i%7)));
				}
				vm.key = date_code + keycode;
				console.log("vm.key now:", vm.key);
			}
			vm.newKey();
			vm.inputPlaceholder = ()=>{
				return vm.encode ? vm.enStr : vm.morseStr;
			};
			vm.outputPlaceholder = ()=>{
				return vm.encode ? vm.morseStr : vm.enStr;
			};
      vm.process = function () {
        vm.output = vm.input.toUpperCase();
				if (vm.encode) {
					// kode for å enkode
				} else {
					// kode for å dekode
				}
				vm.output = vm.output.trim();
      };
      vm.selectText = ()=>{
        var doc = document, text = doc.getElementById("output"), range, selection;
        if (doc.body.createTextRange) {
          range = document.body.createTextRange();
          range.moveToElementText(text);
          range.select();
        } else if (window.getSelection) {
          selection = window.getSelection();
          range = document.createRange();
          range.selectNodeContents(text);
          selection.removeAllRanges();
          selection.addRange(range);
        }
        try {
          document.execCommand('copy');
          $timeout(()=>{
            window.getSelection().removeAllRanges();
          }, 100);
        } catch (e) { console.warn("Error", e); }
      }
    }]);
  </script>
</body>
</html>
