<!doctype html>
<html ng-app="app">
<head>
  <title>Plusstimer (midlertidig)</title>
  <link href="../assets/standard.css" rel="stylesheet">
  <link rel="icon" href="http://icons.veryicon.com/ico/System/Icons8%20Metro%20Style/Mathematic%20Plus2.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="http://icons.veryicon.com/ico/System/Icons8%20Metro%20Style/Mathematic%20Plus2.ico" />
  <style>
    a {
      color: #337ab7;
      font-size: small;
    }
    input[type=number] {
      width: 30px;
    }
    p {
      line-height: 24px;
    }
    span {
      font-weight: 900;
      font-size: 1.1em;
    }
  </style>
</head>
<body ng-controller="masterCtrl as m">
  <h2>Midlertidig plusstimekalkulator</h2>
  <p>
    Jeg har <input ng-model="m.loose" type="number"> løse studietimer i uka og <input ng-model="m.days" type="number"> dager og <input ng-model="m.hours" type="number" style="width:40px"> timer fravær på skolearena.
  </p>
  <p>
    Du har <span ng-bind="m.calculate()"></span> plusstimer hvis det som står ovenfor stemmer og du ikke får mer fravær denne uka.
  </p>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script>
    let app = angular.module("app", []);
    app.controller('masterCtrl', [function() {
      let vm = this;
      vm.loose = 5;
      vm.days = 0;
      vm.hours = 0;
      try {
        vm.days = Number(localStorage.days) || 0;
        vm.hours = Number(localStorage.hours) || 0;
      } catch (e) { }
      let onejan = new Date(new Date().getFullYear(),0,1);
      let weeknum = Math.ceil((((new Date()-onejan)/86400000) + onejan.getDay()+1)/7);
      vm.calculate = ()=>{
        try {
          localStorage.hours = vm.hours;
          localStorage.days = vm.days;
        } catch (e) { }
        return Math.round(((weeknum-35)*vm.loose)-((vm.hours + vm.days*6)/0.75))
      };
    }]);
  </script>
  <script>!function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-69446843-9","auto"),ga("send","pageview");</script>
</body>
</html>
