<!DOCTYPE html>
<html ng-app="app" ng-controller="mainCtrl as m">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>Text compressor/decompressor</title>
		<link rel="stylesheet" href="../assets/standard-tool-css.css">
		<link rel="icon" href="https://cdn1.iconfinder.com/data/icons/morse/154/morse-alphabel-letter-h-256.png" type="image/png">
		<link rel="apple-touch-icon" href="https://cdn1.iconfinder.com/data/icons/morse/154/morse-alphabel-letter-h-256.png" type="image/png">
	</head>
	<body>
		<h1>Text compression/decompression tool</h1>

	<ul class="menu">
		<li ng-click="m.setMode(0)" ng-class="{active: m.compress}">Compress</li>
		<li ng-click="m.setMode(1)" ng-class="{active: !m.compress}">Decompress</li>
	</ul>

  <h3>Input:</h3>
	<textarea name="input" placeholder="{{m.inputPlaceholder()}}" ng-model="m.input" ng-keyup="m.process()"></textarea>

  <h3>Output:</h3>
	<pre placeholder="{{m.outputPlaceholder()}}" ng-bind="m.process()" id="output"></pre>
	<span ng-bind="m.stat+'% compression'" ng-if="m.compress" style="color:#333;font-size:smaller"></span>
  <div class="block">
    <button ng-click="m.selectText()">Copy output</button>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('app', []);
    app.config(function($sceProvider) {
      $sceProvider.enabled(false);
    });
    app.controller('mainCtrl', ['$http', '$timeout', function ($http, $timeout) {
      var vm = this;
      vm.input = "";
      vm.output = "";
			vm.compress = true;
			vm.morseStr = "讫尘ᣝ媃";
			vm.enStr = "Hello world!";
			vm.stat = 0;

			vm.setMode = (mode)=>{
				vm.input = vm.process();
				vm.compress = !mode;
			};

			vm.inputPlaceholder = ()=>{
				return vm.compress ? vm.enStr : vm.morseStr;
			};

			vm.outputPlaceholder = ()=>{
				return vm.compress ? vm.morseStr : vm.enStr;
			};

			let decimal_number_to_binary = (dec)=>{
			  return (dec >>> 0).toString(2).padStart(16,"0");
			};

      vm.process = function () {
        let output = "";
				if (vm.compress) { // COMPRESS STRING
					/* Remove invalid charcters from input field: */
					for (var i = 0; i < vm.input.length; i++) {
						let char = vm.input.substr(i, 1);
						if (!vm.codes.hasOwnProperty(char.toUpperCase()) && !vm.special_replacements.hasOwnProperty(char.toLowerCase())) {
							vm.input = vm.input.slice(0,i) + vm.input.slice(i+1);
							i--;
						}
					}
					/* Calculate a binary sum */
					let binary_sum = "";
          let input = vm.input;
          for (let key in vm.special_replacements) {
            input = input.replace(RegExp(key, "g"), vm.special_replacements[key]);
          }
					input.concat(" www").replace(/./gi, (match)=>{
						binary_sum += vm.codes[match.toUpperCase()];
					});
					/* Turn the binary sum into a string */
					if (vm.input.length) {
						for (var i = 0; i < binary_sum.match(/.{1,16}/g).length; i++) {
							output += String.fromCharCode(parseInt(binary_sum.match(/.{1,16}/g)[i].padStart(16,"0"), 2));
						}
						/* Calculate how much compression */
						vm.stat = Math.round(10000*(vm.input.length-output.length)/vm.input.length)/100;
					}
				} else { // DECOMPRESS STRING
					/* Calculate a binary sum */
					let binary_sum = "";
					for (let i = 0; i < vm.input.length; i++) {
						binary_sum += decimal_number_to_binary(vm.input.charCodeAt(i));
					}
					/* Turn the binary sum into a string */
					for (let i = 0; i < binary_sum.length; i += 5) {
						output += vm.reversed_codes[binary_sum.substr(i, 5).padStart(5,"0")];
					}
					output = output.toLowerCase().replace(/\sw+$/, "").replace(/^./, c => c.toUpperCase()).replace(/\.../g, p => p.toUpperCase());
          for (let key in vm.special_replacements) {
            output = output.replace(RegExp(vm.special_replacements[key], "g"), key);
          }
				}
        return output;
      };

      vm.selectText = ()=>{
        var doc = document, text = doc.getElementById("output"), range, selection;
        if (doc.body.createTextRange) {
          range = document.body.createTextRange();
          range.moveToElementText(text);
          range.select();
        } else if (window.getSelection) {
          selection = window.getSelection();
          range = document.createRange();
          range.selectNodeContents(text);
          selection.removeAllRanges();
          selection.addRange(range);
        }
        try {
          document.execCommand('copy');
          $timeout(()=>{
            window.getSelection().removeAllRanges();
          }, 100);
        } catch (e) { console.warn("Error", e); }
      }


			vm.codes = {
			  "A": "01010",
			  "B": "01011",
			  "C": "01100",
			  "D": "01101",
			  "E": "01110",
			  "F": "01111",
			  "G": "10000",
			  "H": "10001",
			  "I": "10010",
			  "J": "10011",
			  "K": "10100",
			  "L": "10101",
			  "M": "10110",
			  "N": "10111",
			  "O": "11000",
			  "P": "11001",
			  "Q": "11010",
			  "R": "11011",
			  "S": "11100",
			  "T": "11101",
			  "U": "11110",
			  "V": "11111",
				"W": "00000",
			  "X": "00001",
			  "Y": "00010",
			  "Z": "00011",
			  "?": "00100",
			  ",": "00101",
			  " ": "00110",
			  ".": "00111",
			  "!": "01000",
			  ":": "01001"
			};

			vm.reversed_codes = {};
			for (let key in vm.codes) {
				vm.reversed_codes[vm.codes[key]] = key;
			};

      vm.special_replacements = {
        "æ": "ae",
        "ø": "oe",
        "å": "aa"
      };
    }]);

  </script>
  <script>!function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-69446843-9","auto"),ga("send","pageview");</script>
</body>
</html>
